.cm-header {
  color: #555555;
}

.cm-time {
  color: #005893;
}

.cm-player {
  color: #BFA350;
}

.cm-teamct {
  color: #0093B4;
}

.cm-teamt {
  color: #FF6363;
}

.cm-rebel {
  color: #AA2B2B;
}

.cm-action {
  color: #669966;
}

.cm-target {
  color: #5EDE6A;
}

.cm-damage {
  color: #BD3900;
}

.cm-damageamo {
  color: #AC0000;
}

.cm-weapon {
  color: #AFAFAF;
}