/* General app style */

#editor,
#footer,
#copy {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#editor {
    top: 0;
    bottom: 36px;
}

#footer,
#copy {
    height: 36px;
    padding: 4px 20px 0 50px;
    background-color: #3b3b47;
}

.d-inline-block {
    display: inline-block;
}

.select-wrapper {
    width: 300px;
    font-size: 14px;
    font-family: sans-serif;
}
.select-wrapper .ss-main .ss-single-selected {
    height: 28px;
}
button {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 28px;
    padding: 4px 8px;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.codeflask textarea {
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3) inset;
}

/* Code editor theme */

.codeflask {
    color: #ccc;
    background: #282936;
}
.codeflask textarea {
    color: #282936;
    caret-color: rgba(241, 250, 140, 1);
}

.codeflask .codeflask__flatten {
    font-size: 15px;
}

.codeflask textarea::-moz-selection,
.codeflask textarea ::-moz-selection {
    background-color: #5a5f80;
    color: #5a5f80;
}

.codeflask textarea::selection,
.codeflask textarea ::selection {
    background-color: #5a5f80;
    color: #5a5f80;
}

.codeflask.codeflask--has-line-numbers::before {
    background: #3b3b47 !important;
}

.token.comment {
    color: rgba(98, 114, 164, 1);
}

.token.prolog {
    color: rgba(207, 207, 194, 1);
}

.token.tag {
    color: rgba(220, 104, 170, 1);
}

.token.entity {
    color: rgba(139, 233, 253, 1);
}

.token.atrule {
    color: rgba(98, 239, 117, 1);
}

.token.url {
    color: rgba(102, 217, 239, 1);
}

.token.selector {
    color: rgba(207, 207, 194, 1);
}

.token.string {
    color: rgba(241, 250, 140, 1);
}

.token.property {
    color: rgba(255, 184, 108, 1);
}

.token.important {
    color: rgba(255, 121, 198, 1);
    font-weight: bold;
}

.token.punctuation {
    color: white;
}

.token.number {
    color: rgba(189, 147, 249, 1);
}

.token.function {
    color: rgba(80, 250, 123, 1);
}

.token.class-name {
    color: rgba(255, 184, 108, 1);
}

.token.keyword {
    color: rgba(255, 121, 198, 1);
}

.token.boolean {
    color: rgba(255, 184, 108, 1);
}

.token.operator {
    color: rgba(139, 233, 253, 1);
}

.token.char {
    color: rgba(255, 135, 157, 1);
}

.token.regex {
    color: rgba(80, 250, 123, 1);
}

.token.variable {
    color: rgba(80, 250, 123, 1);
}

.token.constant {
    color: rgba(255, 184, 108, 1);
}

.token.symbol {
    color: rgba(255, 184, 108, 1);
}

.token.builtin {
    color: rgba(255, 121, 198, 1);
}

.token.attr-value {
    color: #7ec699;
}

.token.deleted {
    color: #e2777a;
}

.token.namespace {
    color: #e2777a;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token {
    color: #ff79c6;
}

.language-cpp .token.string {
    color: #8be9fd;
}

.language-c .token.string {
    color: #8be9fd;
}

.language-css .token.selector {
    color: rgba(80, 250, 123, 1);
}

.language-css .token.property {
    color: rgba(255, 184, 108, 1);
}

.language-java span.token.class-name {
    color: #8be9fd;
}

.language-java .token.class-name {
    color: #8be9fd;
}

.language-markup .token.attr-value {
    color: rgba(102, 217, 239, 1);
}

.language-markup .token.tag {
    color: rgba(80, 250, 123, 1);
}

.language-objectivec .token.property {
    color: #66d9ef;
}

.language-objectivec .token.string {
    color: #50fa7b;
}

.language-php .token.boolean {
    color: #8be9fd;
}

.language-php .token.function {
    color: #ff79c6;
}

.language-php .token.keyword {
    color: #66d9ef;
}

.language-ruby .token.symbol {
    color: #8be9fd;
}

.language-ruby .token.class-name {
    color: #cfcfc2;
}
