/* App layout */

#editor,
#footer,
#copy {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#editor {
    top: 0;
    bottom: 46px;
}

.CodeMirror {
    height: 100%;
}

#footer,
#copy {
    height: 38px;
    padding: 8px 8px 0;
    background-color: #3b3b47;
    display: flex;
    flex-wrap: wrap;
}
#footer > *,
#copy > * {
    margin: 0 6px;
}
.grow {
    flex-grow: 1;
}

/* Form elements */

.ss-main {
    max-width: 300px;
    width: calc(100% - 150px);
    font-family: sans-serif;
}

.ss-main .ss-single-selected,
button,
input[type='text'],
input[type='search'] {
    height: 28px;
    background-color: #3b3b47 !important;
    color: #fff !important;
    border-radius: 2px !important;
    border: 1px solid #ccc !important;
    font-size: 14px !important;
}
input[type='text'],
input[type='search'] {
    height: 26px !important;
    padding: 0 5px;
}
input::-moz-selection {
    background-color: rgba(90, 95, 128, 0.99);
}
input::selection {
    background-color: rgba(90, 95, 128, 0.99);
}
button {
    cursor: pointer;
    padding: 4px 8px;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.ss-content {
    background-color: #282936;
    color: #dedede;
    font-size: 14px;
}
.ss-content .ss-disabled {
    background-color: #3b3b47 !important;
}
